# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
fap-env/

# Environment variables
.env

# ML / AI
models/
checkpoints/
*.h5
*.pt
*.pth

# Data
data/
datasets/
*.csv

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log

frontend/node-modules/
frontend/dist/
frontend/.eslintcache

.DS_Store